@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmación de restablecimiento de contraseña";
}

<h1>@ViewData["Title"]</h1>
<p>
    Su contraseña ha sido restablecida. Por favor <a asp-page="./Login">haga clic aquí para conectarse</a>.
</p>
