@{
    ViewData["Title"] = "ACCESORIOS";
}

<h3>@ViewData["Title"]</h3>

<br/><br />

<div class="container">
    <div class="row">

        <!-- ORDENADORES -->

        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter drama">
            <a href="~/compu_articulo/Details/7">
                <img width="257" height="233" src=https://images-na.ssl-images-amazon.com/images/I/61FS2FJrXEL._AC_SL1500_.jpg class="img-responsive">
            </a>
            <div class="mtitle"><font color="blue">Memoria USB 64gb 3.0, Pendrive USB</font></div><br />
        </div>


        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter drama">
            <a href="~/compu_articulo/Details/8">
                <img width="257" height="233" src=https://images-na.ssl-images-amazon.com/images/I/41di-l4pdDL._AC_.jpg class="img-responsive">
            </a>
            <div class="mtitle"><font color="blue">USB 3.0 a SATA Cable del Adaptador</font></div><br />
        </div>
    </div>
</div>