@{
    ViewData["Title"] = "PERIFÉRICOS";
}

<h3>@ViewData["Title"]</h3>

<br/><br />

<div class="container">
    <div class="row">

        <!-- PERIFERICOS -->

        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter drama">
            <a href="~/compu_articulo/Details/1">
                <img width="257" height="233" src=https://images-na.ssl-images-amazon.com/images/I/815STEC9xzL._AC_SL1500_.jpg class="img-responsive">
            </a>
            <div class="mtitle"><font color="blue">Pantalla LG 19''</font></div><br />
        </div>


        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter drama">
            <a href="~/compu_articulo/Details/2">
                <img width="257" height="233" src=https://images-na.ssl-images-amazon.com/images/I/61hzuoXwjqL._AC_SL1500_.jpg class="img-responsive">
            </a>
            <div class="mtitle"><font color="blue">Ratón con Cable</font></div><br />
        </div>
    </div>
</div>