@{
    ViewData["Title"] = "SOFTWARE";
}

<h3>@ViewData["Title"]</h3>

<br/><br />

<div class="container">
    <div class="row">

        <!-- ORDENADORES -->

        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter drama">
            <a href="~/compu_articulo/Details/3">
                <img width="257" height="233" src=https://images-na.ssl-images-amazon.com/images/I/71zq4r%2B6ShL._AC_SL1500_.jpg class="img-responsive">
            </a>
            <div class="mtitle"><font color="blue">Windows 10 Professional</font></div><br />
        </div>


        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter drama">
            <a href="~/compu_articulo/Details/4">
                <img width="157" height="233" src=https://images-na.ssl-images-amazon.com/images/I/61U6ZXYcTYL._AC_SL1500_.jpg class="img-responsive">
            </a>
            <div class="mtitle"><font color="blue">McAfee Total Protection</font></div><br />
        </div>
    </div>
</div>